/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    --main-color: #0a1d48;
}

* {
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Nova Square', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    background: #4d1c1c;
    border-radius: 5rem;
}

body {
    /* background: #01041e; */
    background: #0003238a;
}

section {
    padding: 2rem 9%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* background: #01041e; */
    background: #00031f;

    display: flex;
    /* column-wise for laptop and desktop display */

    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4%;
}

.header .navbar a {
    font-size: 1rem;
    color: #fff;
    margin-right: 2rem;
}

.header a {
    font-size: 1rem;
    color: #fff;
    /* margin-right: 2rem; */
}

.header .navbar a:hover {
    color: #999;
}

#menu-bars {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home .content {
    text-align: center;
    padding-top: 1rem;
    margin: 2rem auto;
    max-width: 70rem;
}

.home .content h2 {
    color: #fff;
    text-transform: uppercase;
}

.home .content h2 span {
    font-family: 'Quicksand', sans-serif;
    color: #00031f;
    text-transform: uppercase;
    font-weight: bold;
}

.search {
    color: #fff;
}




/*media queries*/

/* Applicable upto width: 991px */
@media (max-width:991px) {

    html {
        font-size: 90%;
    }
    /* .header .navbar a {
        font-size: medium;
        color: #fff;
        margin-right: 2rem;
    } */
}

/* Applicable upto width: 768px */
@media (max-width:768px) {

    /* html {
        font-size: 55%;
    } */

    .header {
        padding: 1.5rem 2rem;
    }

    /* hamburger displayed */
    #menu-bars {
        display: initial;
        font-size: medium;
    }
    
    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 0.1rem solid #222;
        background: #333;
        /* background: #222; */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    .fa-times {
        transform: rotate(90deg);
    }

    .header .navbar a {

        display: flex;
        /* coloumn-wise for mobile and tablet display */
        
        background: #222;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: medium;
    }

    .search {
        color: #fff;
        position: fixed;
        left: 50%;
    }
}

/* Applicable upto width: 450px */
@media (max-width:450px) {

    /* html {
        font-size: 55%;
    } */
    .header .navbar a {
        font-size: medium;
    }

    #menu-bars {
        display: initial;
        font-size: medium;
    }

    .search {
        font-size: medium;
        color: #fff;
        position: fixed;
        left: 50%;
    }
}
